<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" href="/static/css/styles.css">
  <title>Tus ZapaTos - {% block title %}Inicio{% endblock %}</title>
</head>
<body>
  {% include 'navbar.html' %}
  {% include 'slider.html' %}
  {% block content %}
  {% include 'ofertas.html' %}
  {% include 'nuestraHistoria.html' %}
  {% include 'chatgpt.html' %}
  {% include 'footer.html' %}
  {% endblock %}
  <script src="/static/js/script.js"></script>
</body>
</html>
