<!-- templates/offers.html -->
<section id="ofertas" class="offers">
    <h1><span>Ofertas inperdibles</span></h1>
    <div class="container">
      <div class="card__container">
        <article class="card__article">
          <img src="/static/images/adidas-racer.png" alt="image" class="card__img">
          
          <div class="card__data">
            <span class="card__description">Zapatillas Adidas Racer</span>
            <h2 class="card__title">Veocidad</h2>
            <a href="#" class="card__button">Compra ahora</a>
          </div>
        </article>
        <article class="card__article">
          <img src="/static/images/adidas-racer.png" alt="image" class="card__img">
            <div class="card__data">
                <span class="card__description">Zapatillas Adidas Racer</span>
                <h2 class="card__title">Velocidad</h2>
                <a href="#" class="card__button">Compra ahora</a>
          </div>
        </article>
        <article class="card__article">
          <img src="/static/images/adidas-racer.png" alt="image" class="card__img">
          
          <div class="card__data">
            <span class="card__description">Zapatillas Adidas Racer</span>
            <h2 class="card__title">Velocidad</h2>
            <a href="#" class="card__button">Compra ahora</a>
          </div>
        </article>
        <article class="card__article">
          <img src="/static/images/adidas-racer.png" alt="image" class="card__img">
          
          <div class="card__data">
            <span class="card__description">Zapatillas Adidas Racer</span>
            <h2 class="card__title">Velocidad</h2>
            <a href="#" class="card__button">Compra ahora</a>
          </div>
        </article>
      </div>
<br>
      <div class="card__container">
        <article class="card__article">
          <img src="/static/images/adidas-racer.png" alt="image" class="card__img">
          
          <div class="card__data">
            <span class="card__description">Zapatillas Adidas Racer</span>
            <h2 class="card__title">Veocidad</h2>
            <a href="#" class="card__button">Compra ahora</a>
          </div>
        </article>
        <article class="card__article">
          <img src="/static/images/adidas-racer.png" alt="image" class="card__img">
                        
              <div class="card__data">
                <span class="card__description">Zapatillas Adidas Racer</span>
                <h2 class="card__title">Velocidad</h2>
                <a href="#" class="card__button">Compra ahora</a>
          </div>
        </article>
        <article class="card__article">
          <img src="/static/images/adidas-racer.png" alt="image" class="card__img">
          
          <div class="card__data">
            <span class="card__description">Zapatillas Adidas Racer</span>
            <h2 class="card__title">Velocidad</h2>
            <a href="#" class="card__button">Compra ahora</a>
          </div>
        </article>
        <article class="card__article">
          <img src="/static/images/adidas-racer.png" alt="image" class="card__img">
          
          <div class="card__data">
            <span class="card__description">Zapatillas Adidas Racer</span>
            <h2 class="card__title">Velocidad</h2>
            <a href="#" class="card__button">Compra ahora</a>
          </div>
        </article>
      </div>
    </div>

    <div class="container">
      <div class="card__container">
        <article class="card__article">
          <img src="/static/images/adidas-racer.png" alt="image" class="card__img">
          
          <div class="card__data">
            <span class="card__description">Zapatillas Adidas Racer</span>
            <h2 class="card__title">Veocidad</h2>
            <a href="#" class="card__button">Compra ahora</a>
          </div>
        </article>
        <article class="card__article">
          <img src="/static/images/adidas-racer.png" alt="image" class="card__img">
                        
              <div class="card__data">
                <span class="card__description">Zapatillas Adidas Racer</span>
                <h2 class="card__title">Velocidad</h2>
                <a href="#" class="card__button">Compra ahora</a>
          </div>
        </article>
        <article class="card__article">
          <img src="/static/images/adidas-racer.png" alt="image" class="card__img">
          
          <div class="card__data">
            <span class="card__description">Zapatillas Adidas Racer</span>
            <h2 class="card__title">Velocidad</h2>
            <a href="#" class="card__button">Compra ahora</a>
          </div>
        </article>
        <article class="card__article">
          <img src="/static/images/adidas-racer.png" alt="image" class="card__img">
          
          <div class="card__data">
            <span class="card__description">Zapatillas Adidas Racer</span>
            <h2 class="card__title">Velocidad</h2>
            <a href="#" class="card__button">Compra ahora</a>
          </div>
        </article>
      </div>
      <br>
      <div class="card__container">
        <article class="card__article">
          <img src="/static/images/adidas-racer.png" alt="image" class="card__img">
          
          <div class="card__data">
            <span class="card__description">Zapatillas Adidas Racer</span>
            <h2 class="card__title">Veocidad</h2>
            <a href="#" class="card__button">Compra ahora</a>
          </div>
        </article>
        <article class="card__article">
          <img src="/static/images/adidas-racer.png" alt="image" class="card__img">
                        
              <div class="card__data">
                <span class="card__description">Zapatillas Adidas Racer</span>
                <h2 class="card__title">Velocidad</h2>
                <a href="#" class="card__button">Compra ahora</a>
          </div>
        </article>
        <article class="card__article">
          <img src="/static/images/adidas-racer.png" alt="image" class="card__img">
          
          <div class="card__data">
            <span class="card__description">Zapatillas Adidas Racer</span>
            <h2 class="card__title">Velocidad</h2>
            <a href="#" class="card__button">Compra ahora</a>
          </div>
        </article>
        <article class="card__article">
          <img src="/static/images/adidas-racer.png" alt="image" class="card__img">
          
          <div class="card__data">
            <span class="card__description">Zapatillas Adidas Racer</span>
            <h2 class="card__title">Velocidad</h2>
            <a href="#" class="card__button">Compra ahora</a>
          </div>
        </article>
      </div>
    </div>
</section class="container">